product_name: Horeca Z06
product_slogan: 
voltaje: 230V-50 Hz, 220V- 60Hz, 110V-60Hz, 240V-50Hz, 120V-50Hz
motor: Monofásico 0,33CV
consumo: 275W
auto: 
stand_by:  
peso: 51,87Kg
capacidad_feeder: 1.5Kg
frutas_por_minuto: 10
capacidad_cubeta: 9 L
medidas: Alto x Ancho x Profundo 720mm. x 504mm. x 420mm

{% extends "producto.html" %}


       {% block imagen_producto %}
       <img src="{% static 'images/productos/z06.jpg'%}" alt="Z06">
       {% endblock %}




{% block parrafo1 %}

Sorprende a tus clientes con originales combinaciones de zumo</p>
<p>
<strong>SISTEMA DE EXPRIMIDO</strong>
único en el mundo. La fruta se corta en dos mitades y se exprime sin entrar en contacto con la corteza, evitando sus aceites y acidez añadida. Zumo de calidad con un sabor 100% natural.
<br><br>
<strong>EXPRIMIDOR AUTOMÁTICO DE CÍTRICOS</strong>
Naranjas, limones, limas, mandarinas, pomelos y granadas.
<br><br>
<strong>TAMAÑO DE LA FRUTA</strong>
Pequeño y gran calibre / 45-90mm.
<br>
Kit copas medianas Ø 55-75mm.
<br>
Kit copas grandes Ø 70-90mm.


{% endblock parrafo1 %}

{% block parrafo2 %}


<strong>LIMPIEZA RÁPIDA Y FÁCIL</strong> Sólo hacen falta 6/7 minutos para desmontar, limpiar, secar y volver a montar.
<br><br>

<strong>CUERPO</strong> del exprimidor en ACERO INOXIDABLE
<br><br>
<strong>RAMPA</strong> que proporciona una AUTONOMÍA de 8/9 frutas
<br><br>
<strong>CAPACIDAD</strong> para 5,5Kg. de fruta. Al llenarse proporciona atractivo visual a la máquina.
<br><br>
<strong>CUBETAS</strong> de acero inoxidable / 9l.


<p>
{% endblock parrafo2 %}

{% block fruit_size %}
 Kit Ø 55-75mm. / Kit Ø 70-90mm.<br>
Opcional Kit Ø 45-60mm.
                                      
{% endblock %}

{% block proteccion %}

 Triple sensor automático de seguridad y protección térmica mediante bloqueo del motor. Detención de la máquina e indicación en el display del posicionamiento erróneo de las piezas.

{% endblock proteccion %}
{% block title %}<title>Horeca Z06 | Zummo Latin Corp</title> {% endblock %}
