{% extends "base.html" %}
{% block content %}

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">
					<div class="heading-block center">
			
								<h3>
									<div class="text-rotater" data-separator="|" data-rotate="bounceIn" data-speed="2500">
									<span class="zummofont2">Nuestros Lineas de Producto</span>
									</div>							
								</h3>
					</div>
					<div class="col_one_third nobottommargin">
					
			
								<h4>
									<div class="text-rotater" data-separator="|" data-rotate="bounceIn" data-speed="2500">
									Una solución para cada tipo de <span class="zummofont2">Negocio</span>
									</div>							
								</h4>
								<p><strong>Tenemos una amplía familia de máquinas, creadas según las necesidades de consumo.</strong> Bares, universidades colegios, aeropuertos, supermercados, hoteles, gimnasios, áreas de servicio… Las máquinas Zummo están creadas para exprimir en cualquier lugar donde se quiera ofrecer jugo de calidad.</p>
								
								<p class="nobottommargin">Nuestra misión es que el zumo que se exprima en cualquier lugar donde estén nuestras máquinas tenga la misma calidad. Para ello es fundamental la investigación, la materia prima, el control de calidad, la tecnología, los plazos de entrega, así como mantener una relación cercana con nuestros clientes.</p>
								<br>
								<a href="productos.html" class="button button-mini button-dark button-rounded "><i class="icon-eye"></i>Ver productos</a>

					</div>
					<div class="col_two_third nobottommargin col_last">
						<div class="col_half nobottommargin">
							<article class="portfolio-item">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="{{ STATIC_URL }}/images/horeca.jpg" alt="Open Imagination">
									</a>
									<div class="portfolio-overlay horeca">
										<a href="productos.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div>
								</div>
							</article>
						</div>
						<div class="col_half col_last nobottommargin">
							<div class="productType">
								<article class="portfolio-item">
									<div class="portfolio-image">
										<a href="portfolio-single.html">
											<img src="{{ STATIC_URL }}/images/vending.jpg" alt="Open Imagination">
										</a>
										<div class="portfolio-overlay vending">
											<a href="productos.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
										</div>
									</div>						
								</article>
							</div>
						</div>
					</div>
					
					

					
                </div>
				

            </div>
			
        </section>
		
		<section id="content">
			<div class="line"></div>

            <div class="content-wrap">
				

                <div class="container clearfix">
				
					<div class="heading-block center">
		
                            <h3>
								<div class="text-rotater" data-separator="|" data-rotate="bounceIn" data-speed="2500">
								<span class="zummofont2">Lo que nos Diferencia</span>
								</div>							
							</h3>
                            <span><strong>La investigación en I+D nos ha llevado a tener una tecnología única</strong></span>
					</div>
					
					<div class="col_one_third nobottommargin">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{{ STATIC_URL }}/images/evs.jpg" alt="EVS">
                            </div>
                            <div class="fbox-desc">
                                <h3>Efficient Vertical System.</span><span class="subtitle">Mayor Renidmiento</span></h3>
                                <p>Gracias al sistema <strong class="orange">EVS (Efficient Vertical System)</strong> de exprimido vertical nuestras máquinas tienen un elevado rendimiento, extrayendo la máxima cantidad de jugo de la fruta sin desperdiciar ni una gota.</p>
                            </div>
                        </div>
                    </div>
					<div class="col_one_third nobottommargin">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{{ STATIC_URL }}/images/openview.jpg" alt="Open View">
                            </div>
                            <div class="fbox-desc">
                                <h3>Open View<span class="subtitle">Siempre Visible.</span></h3>
                                <p>Todas las máquinas Zummo son <strong class="orange">OpenView</strong>, es decir, usted y su cliente podrán ver en todo momento los frutos que van a ser exprimidos, así como el proceso de extracción del jugo.</p>
                            </div>
                        </div>
                    </div>
					<div class="col_one_third  col_last">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{{ STATIC_URL }}/images/multic.jpg" alt="MultiCritic">
                            </div>
                            <div class="fbox-desc">
                                <h3>MultiCitric.<span class="subtitle">Funcional distintas frutas.</span></h3>
                                <p><strong class="orange">Naranjas, limas, limones, pomelos, mandarinas o granadas…</strong> Nuestras máquinas exprimen frutos cítricos redondeados de todo tipo de tamaños. Prueba a crear deliciosos jugos con diferentes frutas.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script type="text/javascript" src="{{ STATIC_URL }}/js/functions.js"></script> 
        </section><!-- #content end --><!-- #content end -->



{% endblock content%}


