 {% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4, #navbar5").removeClass("current");
    $("#navbar3").addClass("current");
    });
</script>

 <!-- Page Title
        ============================================= -->
		<section id="page-title" class="page-title-parallax page-title-dark" style="background-image: url('{% static 'images/bg.jpg'%}'); padding: 40px 0;" data-stellar-background-ratio="0.3">	




            <div class="container clearfix">
                <h1>Familia de <strong>Productos</strong></h1>
                <span>Una solución para cada tipo de Negocio</span>
                <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li>Productos</li>
 
                </ol>
            </div>

        </section>
		<!--<section id="page-title" class="page-title-pattern">

            <div class="container clearfix">
                <h1>Familia de <strong>Productos</strong></h1>
                <span>Una solución para cada tipo de Negocio</span>
                <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li>Productos</li>
 
                </ol>
            </div>

        </section>-->
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">
				<div class="heading-block center">
		
                            <h3>
								<div class="text-rotater" data-separator="|" data-rotate="bounceIn" data-speed="2500">
								<span class="zummofont2">Nuestra Gama de productos</span>
								</div>							
							</h3>
                            <span><strong>Tenemos una amplia familia de máquinas, creadas según las necesidades de consumo.</strong></span>
					</div>
                    <!-- Portfolio Filter
                    ============================================= -->
					<h5>Filtro por <span class="zummofont2">Línea de Productos</span></h5>
                    <ul id="portfolio-filter" class="clearfix">

                        <li class="activeFilter"><a href="#" data-filter="*">Todos</a></li>
                        <li><a href="#" data-filter=".pf-horeca">Horeca</a></li>
                        <li><a href="#" data-filter=".pf-vending">Vending</a></li>

                    </ul><!-- #portfolio-filter end -->

                    <div id="portfolio-shuffle">
                        <i class="icon-random"></i>
                    </div>

                    <div class="clear"></div>

                    <!-- Portfolio Items
                    ============================================= -->
                    <div id="portfolio" class="portfolio-3 clearfix bottommargin" style="margin-left: 15px;">

                        <article class="portfolio-item pf-horeca bottommargin">
                            <div class="portfolio-image">
                                <a href="productos/z1.html">
                                    <img src="{% static 'images/productos/z1.jpg' %}" alt="Open Imagination">



                                </a>
                                <div class="portfolio-overlay">
                                    <a href="productos/z1.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
								<div class="productlistcolor"></div>
                                <h3><a href="productos/z1.html">Z1</a></h3>
                                <span>Mínimo espacio, máximo rendimiento y rentabilidad.</span>
                            </div>
                        </article>

                        <article class="portfolio-item pf-horeca bottommargin">
                            <div class="portfolio-image">
                                <a href="productos/z06.html">
                                    <img src="{% static 'images/productos/z06.jpg' %}" alt="Locked Steel Gate">

                                </a>
                                <div class="portfolio-overlay">
                                    <a href="productos/z06.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
							<div class="productlistcolor"></div>
                                <h3><a href="productos/z06.html.html">Z06</a></h3>
                                 <span>Sorprende a tus clientes con originales combinaciones de zumo</span>
                            </div>
                        </article>
						
						<article class="portfolio-item pf-horeca bottommargin">
                            <div class="portfolio-image">
                                <a href="productos/z14.html">
                                    <img src="{% static 'images/productos/z14.jpg' %}" alt="Locked Steel Gate">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="productos/z14.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
							<div class="productlistcolor"></div>
                                <h3><a href="productos/z14.html">Z14</a></h3>
                                 <span>La tecnología más avanzada para un servicio continuo</span>
                            </div>
                        </article>

                        <article class="portfolio-item pf-horeca bottommargin">
                            <div class="portfolio-image">
                                <a href="productos/z14si.html">
                                    <img src="{% static 'images/productos/z14si.jpg' %}" alt="Mac Sunglasses">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="productos/z14si.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
							<div class="productlistcolor"></div>
                                <h3><a href="productos/z14si.htmll">Z14 Self Service Inox</a></h3>
                                 <span>Pura velocidad. 40 frutas por minuto.</span>
                            </div>
                        </article>
						<article class="portfolio-item pf-horeca bottommargin">
                            <div class="portfolio-image">
                                <a href="productos/z40.html">
                                    <img src="{% static 'images/productos/z40.jpg' %}" alt="Mac Sunglasses">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="productos/z40.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
							<div class="productlistcolor"></div>
                                <h3><a href="productos/z40.html">Z40</a></h3>
                                 <span>La vending de zumo natural refrigerado más pequeña del mercado</span>
                            </div>
                        </article>
						<article class="portfolio-item pf-vending bottommargin">
                            <div class="portfolio-image">
                                <a href="productos/zv25.html">
                                    <img src="{% static 'images/productos/zv25.jpg' %}" alt="Mac Sunglasses">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="productos/zv25.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
							<div class="productlistcolor vending"></div>
                                <h3><a href="productos/zv25.html">ZV25</a></h3>
                                 <span>La vending de zumo natural refrigerado más pequeña del mercado</span>
                            </div>
                        </article>

                       

                    </div><!-- #portfolio end -->

                    <!-- Portfolio Script
                    ============================================= -->
                    <script type="text/javascript">

                        jQuery(window).load(function(){

                            var $container = $('#portfolio');

                            $container.isotope({ transitionDuration: '0.65s' });

                            $('#portfolio-filter a').click(function(){
                                $('#portfolio-filter li').removeClass('activeFilter');
                                $(this).parent('li').addClass('activeFilter');
                                var selector = $(this).attr('data-filter');
                                $container.isotope({ filter: selector });
                                return false;
                            });

                            $('#portfolio-shuffle').click(function(){
                                $container.isotope('updateSortData').isotope({
                                    sortBy: 'random'
                                });
                            });

                            $(window).resize(function() {
                                $container.isotope('layout');
                            });

                        });

                    </script><!-- Portfolio Script End -->
					<div class="line bottommargin"></div>
					<div class="promo nopadding bottommargin">
                        <h3>Póngase en contacto <span>+507 226 70 57</span> o escríbanos <span>info@zummo.com.pa</span></h3>
                        <span>Para más información de nuestros productos, puede contactarnos o descargar nuestro <strong>catálogo de productos</strong></span>
                        <a target="_blank" href="{% static 'images/catalogo_corporativo_zummo.pdf' %}" class="button button-xlarge button-rounded">Ver Catálogo</a>
                    </div>

                </div>

            </div>
        </section><!-- #content end -->


        {% endblock content%}
