{% extends "base.html" %}
{% block title %}<title>Búsqueda | Zummo Latin Corp</title> {% endblock %}
{% block description %}<meta name="description" content="Zummo Panamá, sistemas de exprimido automático para restaurantes, hoteles, bares y eventos especiales.">{% endblock %}
{% block content %}

<section id="page-title" class="page-title-parallax page-title-dark" style="background-image: url('{% static 'images/bg.jpg'%}'); padding: 40px 0;" data-stellar-background-ratio="0.3">  

	<div class="container clearfix">
		<h1>Resultados de <strong>búsqueda</strong></h1>
		<span>Zummo Latin Corp</span>
		<ol class="breadcrumb">
			<li><a href="index.html">Inicio</a></li>
			<li>búsqueda</li>

		</ol>
	</div>

</section>

<!-- Content
============================================= -->



	<div class="content-wrap">

		<div class="container clearfix">

			<script>
			  (function() {
				var cx = '014013771411759718659:ttwbkim-m74';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					'//www.google.com/cse/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			  })();
			</script>
			<gcse:searchresults-only></gcse:searchresults-only>

		</div>

	</div>

 

{% endblock content%}
