{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4, #navbar5").removeClass("current");
    $("#navbar2").addClass("current");
    });
</script>

               <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-parallax page-title-dark" style="background-image: url('{% static 'images/bg.jpg'%}'); padding: 40px 0;" data-stellar-background-ratio="0.3">  

            <div class="container clearfix">
                <h1>Sistema de <strong>Exprimido</strong></h1>
                <span>¡No se pierde ni una gota!</span>
                <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li>Sistema de Exprimido</li>
 
                </ol>
            </div>

        </section>
        <!--<section id="page-title" class="page-title-pattern">

            <div class="container clearfix">
                <h1>Familia de <strong>Productos</strong></h1>
                <span>Una solución para cada tipo de Negocio</span>
                <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li>Productos</li>
 
                </ol>
            </div>

        </section>-->
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">
                <div class="heading-block center">
        
                            <h3>
                                <div class="text-rotater" data-separator="|" data-rotate="bounceIn" data-speed="2500">
                                <span class="zummofont2">LO QUE NOS DIFERENCIA</span>
                                </div>                          
                            </h3>
                            <span><strong>Un sistema de exprimido único</strong></span>
                </div>
                    <div class="col_one_third  nobottommargin">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{% static 'images/evs.jpg'%}" alt="Open View">
                            </div>
                            <div class="fbox-desc">
                                <h3>El Mejor Sabor<span class="subtitle">El zumo nunca toca la corteza</span></h3>
                                <p>No machacan la corteza y el zumo no pasa en ningún momento por encima de ella, consiguiendo así un sabor libre de aceites y acidez.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third  nobottommargin">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{% static 'images/openview.jpg' %}" alt="EVS">
                            </div>
                            <div class="fbox-desc">
                                <h3>Open View.</span><span class="subtitle">Proceso 100% visible</span></h3>
                                <p>Son las únicas máquinas del mercado que permiten ver el proceso completo de exprimido, atrayendo al cliente e incitando al consumo.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{% static 'images/multic.jpg' %}" alt="MultiCritic">
                            </div>
                            <div class="fbox-desc">
                                <h3>MultiCitric.<span class="subtitle">Más que jugo de naranja</span></h3>
                                <p>Tienen capacidad para admitir todos los tamaños de cítricos: naranjas, mandarinas, granadas, pomelos, limones y limas.</p>
                            </div>
                        </div>
                    </div>

                                    <div class="heading-block" style="margin-bottom:30px;">
        
                            <h4>
                                <div class="text-rotater" data-separator="|" data-rotate="bounceIn" data-speed="2500">
                                <span class="zummofont2">Y AÚN HAY MÁS</span>
                                    
                                </div>                          
                            </h4>
                            <span><strong>Verifique el resto de ventajas de nuestro sistema</strong></span>
                    </div>
                    <div class="col_half">
                        <i class="icon-video circle-icon2"></i><h6 style="margin-top: 8px;">Sistema de exprimido en funcionamiento</h6>
                        <hr>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/P0C5c95q63Y?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                       <h6></h6>
                        <hr>
                    </div>
                    <div class="col_half col_last">
                        <p style="margin: 0px; padding: 0px 0px 15px; ">

                        <strong style="margin: 0px; padding: 0px; ">REDUCIDO TAMAÑO</strong><br style="margin: 0px; padding: 0px; ">

                        Nuestros exprimidores son suficientemente compactos como para ser instalados en cualquier tipo de local.</p>
                        
                        <p style="margin: 0px; padding: 0px 0px 15px; ">

                        <strong style="margin: 0px; padding: 0px; ">PROGRAMADOR CONTADOR DIGITAL</strong><br style="margin: 0px; padding: 0px; ">

                        Puedes programar la cantidad de naranjas a exprimir por vaso y llevar un control de las frutas exprimidas. De serie en todos los exprimidores.</p>
                        
                        <strong style="margin: 0px; padding: 0px; ">RÁPIDA AMORTIZACIÓN</strong>
                        
                        <p style="margin: 0px; padding: 0px 0px 15px; ">

                        La venta de zumo aumenta rápidamente gracias al atractivo sistema de exprimido.</p>
                        
                        <p style="margin: 0px; padding: 0px 0px 15px; ">

                        <strong style="margin: 0px; padding: 0px; ">FÁCIL LIMPIEZA</strong><br style="margin: 0px; padding: 0px; ">

                        La mecánica de los exprimidores es muy sencilla y no necesita ningún mantenimiento interior. Simplemente deberás mantener la máquina limpia para su correcto funcionamiento, higiene y buena imagen. La limpieza diaria se realiza aproximadamente en 6-7 minutos (desmontaje-limpieza-secado-montaje).</p>
                        
                        <p style="margin: 0px; padding: 0px 0px 15px; ">

                        <strong style="margin: 0px; padding: 0px; ">FIABILIDAD Y DURABILIDAD</strong><br style="margin: 0px; padding: 0px; ">

                        Los modelos ZUMMO están preparados para trabajar en las condiciones más exigentes a pleno rendimiento.</p>
                        
                        <p style="margin: 0px; padding: 0px 0px 15px; ">

                        <strong style="margin: 0px; padding: 0px; ">PRODUCTOS HOMOLOGADOS INTERNACIONALMENTE</strong></p>
                        <br><br>
                    </div>
                    
                    



                    <div class="line bottommargin"></div>
                    <div class="promo nopadding bottommargin">
                        <h3>Póngase en contacto <span>+507 226 70 57</span> o escríbanos <span>info@zummo.com.pa</span></h3>
                        <span>Para más información de nuestros productos, puede contactarnos o descargar nuestro <strong>catálogo de productos</strong></span>
                        <a target="_blank" href="{% static 'images/catalogo_corporativo_zummo.pdf' %}" class="button button-xlarge button-rounded">Ver Catálogo</a>
                    </div>

                </div>

            </div>

        </section>
            
     



{% endblock content%}
