
<!DOCTYPE html>

<html dir="ltr" lang="en-US">

<head>



    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="author" content="BlueTide Consulting" />



    <!-- Stylesheets

    ============================================= -->

	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/dark.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/font-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/animate.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static '/css/responsive.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- External JavaScripts
    ============================================= -->
	<script type="text/javascript" src="{% static '/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/contact.js' %}"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51460403-10', 'auto');
      ga('send', 'pageview');

    </script>

	

    <!-- Document Title

    ============================================= -->

{% block title %}<title>Inicio | Zummo Latin Corp</title> {% endblock %}
{% block description %}<meta name="description" content="Zummo Panamá, sistemas de exprimido automático para restaurantes, hoteles, bares y eventos especiales.">{% endblock %}



</head>



<body class="stretched">



    <!-- Document Wrapper

    ============================================= -->

    <div id="wrapper" class="clearfix">



        <!-- Top Bar

        ============================================= -->

        <div id="top-bar">



            <div class="container clearfix">



                <div class="col_half nobottommargin">



                    <!-- Top Links

                    ============================================= -->

                    <div class="top-links">

                        <ul>

                            <li><a target="_blank" href="{% static 'images/catalogo_corporativo_zummo.pdf' %}">Ver Nuestro Catálogo</a>
                            </li>
                            <li><a target="_blank" href="http://zummo.es">Zummo.es</a>
                            </li>

                        </ul>

                    </div><!-- .top-links end -->



                </div>



                <div class="col_half fright col_last nobottommargin">



                    <!-- Top Social

                    ============================================= -->

                    <div id="top-social">

                        <ul>

                            <li><a target="_blank" href="https://www.facebook.com/zummolatincorp" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>

                           <!-- <li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>-->

                            <li><a href="tel:+507.2267057" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+507 226 70 57</span></a></li>

                            <li><a href="mailto:info@zummo.com.pa" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">info@zummo.com.pa</span></a></li>

                        </ul>

                    </div><!-- #top-social end -->



                </div>



            </div>



        </div><!-- #top-bar end -->



        <!-- Header

        ============================================= -->

        <header id="header" class="sticky-style-3">



            <div class="container clearfix">



                <!-- Logo

                ============================================= -->

                <div id="logo">

                    <a href="{% url '/index.html' %}" class="standard-logo" data-dark-logo="{% static 'images/logo.png' %}"><img src="{% static 'images/logo.png' %}" alt="Zumo Panamá"></a>

                    <a href="index.html" class="retina-logo" data-dark-logo="{% static 'images/logo.png' %}" ><img src="{% static 'images/logo.png' %}" alt="Zumo Panamá"></a>

                </div><!-- #logo end -->



                <ul class="header-extras">

                    <li>

                        <div class="he-text">

                            El origen del mejor jugo de naranja.

                        </div>

                    </li>



                </ul>



            </div>



            <div id="header-wrap">

                <nav id="primary-menu" class="style-2 sub-title">

                    <div class="container clearfix">

                        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                        <ul>
                            <li class="current" id="navbar1"><a href="{% url '/index.html' %}"><div>Inicio</div></a>
                            </li>
                            <li id="navbar2"><a href="{% url '/sistema.html' %}"><div>Sistema de Exprimido</div></a>
                            </li>
                            <li id="navbar3"><a href="{% url '/productos.html' %}"><div>Productos</div></a>
                            </li>
							<li id="navbar4"><a href="{% url '/nosotros.html' %}"><div>Zummo Panamá</div></a>
                            </li>
                            <li id="navbar5"><a href="{% url '/contact.html' %}"><div>Contacto</div></a>
                            </li>
                        </ul>

                        <!-- Top Search
                        ============================================= -->
                        <div id="top-search">
                            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                            <form action="{% url '/search.html' %}" method="get">
                                <input type="text" name="q" class="form-control" value="" placeholder="Introduzca su parámetro de búsqueda...">
                            </form>
                        </div><!-- #top-search end -->

                    </div>

                </nav><!-- #primary-menu end -->



            </div>



        </header><!-- #header end -->



        <!-- Content ============================================= -->
	{% block content %}
	{% endblock %}

        <!-- #content end -->



        <footer id="footer" class="dark" style="background: url('{% static 'images/footer-bg.jpg' %}') repeat; background-size: 100% 100%;">




            <div class="container">



                <!-- Footer Widgets

                ============================================= -->

                <div class="footer-widgets-wrap clearfix">



                    <div class="col_two_third">



                        <div class="widget clearfix">



                            <img src="{% static 'images/logoFooter.png' %}" alt="" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">


                            <p><strong>Distribuidores para Panamá de la marca de exprimidores Zummo.</strong><br>
                            <span style="font-style: italic;">"Cuando has probado el mejor jugo ya no te conformas con cualquier otro, nuestro paladar se hace exigente."</span></p>



                            <div class="line" style="margin: 30px 0;"></div>



                            <div class="row">



                                <div class="col-md-3 col-sm-6 bottommargin-sm widget_links">

								<h6>ZUMMO LATIN CORP</h6>

                                    <ul>

                                        <li><a href="{% url '/index.html' %}">Inicio</a></li>

                                        <li><a href="{% url '/sistema.html' %}">Sistema de exprimido</a></li>

                                        <li><a href="{% url '/productos.html' %}">Productos</a></li>

                                        <li><a href="{% url '/nosotros.html' %}">Zummo Panamá</a></li>

                                        <li><a href="{% url '/contact.html' %}">Contacto</a></li>

                                        <li><a target="_blank" href="http://zummo.es">Zummo.es</a></li>

                                    </ul>

                                </div>



                                <div class="col-md-3 col-sm-6 bottommargin-sm widget_links">

								<h6>NUESTROS PRODUCTOS</h6>

                                    <ul>

										<li><a href="{% url '/productos/z1.html' %}">Z1</a></li>

                                        <li><a href="{% url '/productos/z06.html' %}">Z06</a></li>

                                        <li><a href="{% url '/productos/z14.html' %}">Z14</a></li>

                                        <li><a href="{% url '/productos/z14si.html' %}">Z14 Self Service Inox</a></li>

                                        <li><a href="{% url '/productos/z40.html' %}">Z40</a></li>

                                        <li><a href="{% url '/productos/zv25.html' %}">ZV25</a></li>

                                    </ul>

                                </div>



                                <div class="col-md-6 col-sm-6 bottommargin-sm widget_links">

								<h6>INFORMACIÓN DE CONTACTO</h6>

                                    <ul>

                                        <li><strong>Dirección: </strong><br> Calle 66, San Francisco, Ave. Las Violetas, #70B<br>Panamá, República de Panamá </li>

                                        <li><strong>Teléfonos: </strong><br> +507 226 70 57</li>

                                        <li><strong>Email: </strong><br><a href="mailto:info@zummo.com.pa">info@zummo.com.pa</a></li>

                                    </ul>

                                </div>





                            </div>



                        </div>



                    </div>



                    <div class="col_one_third col_last">

					<h4 class="zummofont">Actualidad 100% Zummo</h4>

                        <div class="widget subscribe-widget clearfix notopmargin">

                            <h5><strong>Subscríbase</strong> a nuestra página de facebook para conocer de primera mano nuestras novedades y promociones.</h5>

                            <!--<div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>

                            <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">

                                <div class="input-group divcenter">

                                    <span class="input-group-addon"><i class="icon-email2"></i></span>

                                    <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Introduzca su email">

                                    <span class="input-group-btn">

                                        <button class="btn btn-success" type="submit">Subscribir</button>

                                    </span>

                                </div>

                            </form>

							<p style="margin-top: -20px;">

							<h5 style="font-size:11px;">*Usted pordrá dejar de recibir nuestras notificaciones, en el momento que lo desee y con <strong>solo un click.</strong></h5></p>-->



                        </div>



                        <div class="widget clearfix" style="margin-bottom: -20px;margin-top: 0px;">



                            <div class="row" style="margin-left:0px">



                                <div class="col clearfix bottommargin-sm">

                                    <a target="_blank" href="https://www.facebook.com/zummolatincorp" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">

                                        <i class="icon-facebook"></i>

                                        <i class="icon-facebook"></i>

                                    </a>

                                    <a target="_blank" href="https://www.facebook.com/zummolatincorp"><small style="display: block; margin-top: 3px;"><strong>Me Gusta</strong> en Facebook</small></a>

                                </div>

                                <div class="col-md-6 clearfix hidden">

                                    <a href="#" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;">

                                        <i class="icon-twitter"></i>

                                        <i class="icon-twitter"></i>

                                    </a>

                                    <a href="#"><small style="display: block; margin-top: 3px;"><strong>Síguenos</strong><br>en Twitter</small></a>

                                </div>



                            </div>



                        </div>



                    </div>



                </div><!-- .footer-widgets-wrap end -->



            </div>



            <!-- Copyrights

            ============================================= -->

            <div id="copyrights">



                <div class="container clearfix">



                    <div class="col-md-8">

                        Copyrights &copy; 2015 All Rights Reserved by <a href="{% url '/index.html' %}">Zummo Latin Corp.</a> | Desarrollado por: <a href="httP://bluetideconsulting.com">BlueTide IT Consulting</a>

                    </div>



                    <div class="col-md-4 col_last tright">

                        <div class="fright clearfix">

                            <a href="https://www.facebook.com/zummolatincorp" class="social-icon si-small si-borderless nobottommargin si-facebook"  target="_blank">

                                <i class="icon-facebook"></i>

                                <i class="icon-facebook"></i>

                            </a>



                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter hidden">

                                <i class="icon-twitter"></i>

                                <i class="icon-twitter"></i>

                            </a>



                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus hidden">

                                <i class="icon-gplus"></i>

                                <i class="icon-gplus"></i>

                            </a>



                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin hidden">

                                <i class="icon-linkedin"></i>

                                <i class="icon-linkedin"></i>

                            </a>
                            <a href="mailto:info@zummo.com.pa" class="social-icon si-small si-borderless nobottommargin si-youtube">

                                <i class="icon-mail"></i>

                                <i class="icon-mail"></i>

                            </a>

                        </div>

                    </div>



                </div>



            </div><!-- #copyrights end -->



        </footer><!-- #footer end -->



    </div><!-- #wrapper end -->



    <!-- Go To Top

    ============================================= -->

    <div id="gotoTop" class="icon-angle-up"></div>



    <!-- Footer Scripts

    ============================================= -->

    <script type="text/javascript" src="{% static '/js/functions.js' %}"></script>
   



</body>

</html>
